.modale {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 100px;
  /* Center on the page */
  left: 0;
  right: 0;
  top: 6em;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  max-height: 80vh;
  overflow: auto;

  background-color: rgba(18, 10, 12, 0.9);
  color: hsla(36, 50%, 95%, 0.9);
  border-radius: 1em;
  padding: 1em;
  z-index: 1;
}
